/* # windog */
.wg-windog {
  & {
    --sec: 250ms;
  }
  
  & {
    transition: display var(--sec) allow-discrete, overlay var(--sec) allow-discrete, opacity var(--sec);
    padding: 0;
    background: transparent;
    border: 0;
    overflow: hidden;
    height: 100%;
    /* display: flex; */
    width: 100%;
  }
  &:not(.transitionless)::backdrop {
    transition: opacity var(--sec);
    opacity: 0;
  }
  &::backdrop {
    background: rgba(0, 0, 0, 0.4);
  }
  .inner {
    height: 100%;
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  .wrapper {
   &{
    transition: opacity var(--sec), transform var(--sec);
    opacity: 0;
    transform: scale(0.95);
    background: white;
    min-width: 360px;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
    border-radius: 0.4rem;
  }
    &:not([class*="skin-"]) {
      border: 3px solid;
      padding: 1rem;
    }
    &.skin-1{
      &{
        border-radius: 0.7rem;
        padding: 1rem 0;
      }
      >section{
        padding: 0 1rem;
      }
    }
    &.varian-h100 {
      height: 100%;
    }
    &.varian-flex{
      &{
        display: flex;
        flex-direction: column;
      }
      .body{
        flex: 1;
        overflow: auto;
      }
    }
  }
  &[open] .wrapper {
    & {
      transform: scale(1);
      opacity: 1;
    }
    @starting-style {
      opacity: 0;
      transform: scale(0.95);
    }
  }
  &[open] {
    &{
      /* overflow: hidden;
      height: 100%;
      display: flex; */
    }
    &::backdrop {
      opacity: 1;
    }
    @starting-style {
      &::backdrop{
        opacity: 0;
      }
    }
  }
  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  button:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
  }

  .wg-loading {
    &{ 
      float: right;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 4px;
      margin: 8px;
    }
    svg {
      animation: windog-preload 3s linear infinite;
    }
    &::after{
      content: 'Loading';
      color: white;
      font-size: 0.6rem;
    }
  }
}

@keyframes windog-preload {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
